body{
  background-color: #f5f6fa;
}
.container {

  width: 1140px;
  margin: 0 auto;

}

.top-section {
  background-image: url("Assets/Hero-bg.png");
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0;
}

.logo {
  font-weight: bold;
  color: #5A4FF3;
  font-size: 34px;
}

.btn {
  background-color: #5A4FF3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding-top: 158px;
  padding-bottom: 158px;
}

.section-title {
  font-size: 65px;
  font-weight: bold;
  text-align: center;

}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;

}

.text {
  font-weight: #2524325d;
}
.action-section{
  display: flex;
  justify-content: space-between;
  padding: 8rem 0;

}
.action-section .action-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action-section .action-left span{
  font-size: 42px;
  font-weight: bold;

}
.action-section .action-left p{
  color:#2524327e;
  font-size: 24px;
}
.action-section .action-right img{
  border-radius: 48px;
}